.board {
  display: flex;
  margin: 0;
  flex-direction: column;
  border: 6px gray solid;
  padding: 4px 6px 6px 4px;
  background: lightgray;
  width: auto;
  height: auto;
}

.resizable {
  postion: relative;
  overflow: hidden;
  resize: both;
  min-height: 300px;
  min-width: 300px;

}

.row {
  display: flex;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 100%;
}

.cell {
  flex-basis: 100%;
  flex-shrink: 1;
  flex-grow: 1;
}


