<div class="cell" [ngClass]="{'shown' : !cell.shown && !cell.flagged}">
  <img class="imgSize" [src]="saveImageUrl()">
</div>

<!--
1. arr => arr.reduce((acc, val,) => (acc * val))**(1/arr.length)
2. JSON.stringify(Object.keys(obj1)) === JSON.stringify(Object.keys(obj3))
3. JSON.stringify(Object.values(obj1)) === JSON.stringify(Object.values(obj3))
4. array.map((obj) => (obj.end - obj.start))
5. Object.entries(obj).filter(([_, value]) => value).map(([key]) => key).join(' ')
6. f = array => [Object.keys(array[0]), ...array.map((item) => Object.keys(item).map(key => item[key]))]
-->
