.cell {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../../src/assets/square.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.shown:active {
  background: lightgray;
}

.mine {
  background-image: url("../../../src/assets/mine.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.flag {
  background-image: url("../../../src/assets/flag.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.zero {
  background-image: url("../../../src/assets/Minesweeper_0.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.one {
  background-image: url("../../../src/assets/Minesweeper_1.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.two {
  background-image: url("../../../src/assets/Minesweeper_2.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.three {
  background-image: url("../../../src/assets/Minesweeper_3.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.four {
  background-image: url("../../../src/assets/Minesweeper_4.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.five {
  background-image: url("../../../src/assets/Minesweeper_5.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.six {
  background-image: url("../../../src/assets/Minesweeper_6.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.seven {
  background-image: url("../../../src/assets/Minesweeper_7.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.eight {
  background-image: url("../../../src/assets/Minesweeper_8.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.wrong {
  background-image: url("../../../src/assets/wrong_mined.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

